/* whatever */
body { font-size: 80%; }

.block {
    width: 200px;
    float: left;
    border: 2px solid #789;
    padding: 5px;
    margin: 5px;
    min-height: 200px;
    background: #def;
}
.thin {
	min-height: 50px !important;
}

.block .complain {
    color: red;
    background: yellow;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 2px;
    margin: 0 -5px 0 -5px;
}
a:hover .block .complain {
    background: #ff9 !important;
    border-top: 2px solid #f55;
    border-bottom: 2px solid #f55;
}
a.nounderline:hover .block {
    background: #eff;
    border: 2px solid #abc;
}

.block .name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.block .pic {
    text-align: center;
    margin: 5px 0 5px 0;
    width: 100%;
}
.orig img {
    border: 3px solid red;
}
.edit img {
    border: 3px solid gray;
}

.block .assign {
    font-style: italic;
    font-size: 90%;
}

.locked {
    background: url("img/lock.png") no-repeat top left #faa !important;
    border: 2px solid #944;
}
a.nounderline:hover .locked {
    background-color: #fcc !important;
    border: 2px solid #d33 !important;
}

a.nounderline {
    text-decoration: none;
    color: black;
    border: 0;
}




.picentry {
    border: 2px dashed #a66;
    background: #faa;
    width: 600px;
    padding: 10px;
    margin: 5px;
}
.piccurrent {
    border: 2px dashed #6b3;
    background: #af7;
}
.origthumb {
    border: 3px solid blue;
}
.editthumb {
    border: 3px solid gray;
    margin: 5px;
}
.picedit {
    border: 2px dotted gray;
    background: #ddd url('img/needokay.png') no-repeat 99% 5px;
    margin: 3px;
}
.picedit .adminlink {
    float: right;
    margin-right: 35px;
    margin-top: 10px;
    font-size: 80%;
}
.passign {
    margin-top: 10px;
    font-style: italic;
    font-size: 90%;
}
.pclaim {
    margin-top: 10px;
    font-size: 90%;
}
.ereject {
    border: 2px dotted red;
    background: #ddd url('img/reject.png') no-repeat 99% 5px;
}
.eaccept {
    border: 2px dotted green;
    background: #ddd url('img/accept.png') no-repeat 99% 5px;
}
.pcomplaint {
    color: red;
    background: yellow;
    border: 2px solid red;
    padding: 2px;
    width: 300px;
}
.pcomplaint .pcclear {
    text-align: right;
    font-size: 90%;
}
.pcomment {
    float: right;
    margin-right: 35px;
    margin-top: 10px;
    font-size: 80%;
}

body.lockedentry {
    background: #faa !important;
}
