@font-face {
    font-family: Harrington;
    src: url(harngton.ttf);
}
@font-face {
    font-family: Calibri;
    src: url(calibri.ttf);
}
@font-face {
    font-family: Calibri;
    src: url(calibrib.ttf);
    font-weight: bold;
}


/* Original, changed to below 07-20-2010 by Leon Lin
h1, h2 { font-family: 'Harrington', cursive; }
body { font-family: 'Calibri', sans-serif; }
div.quote-line { padding: 1em 0; }
*/

h1, h2 { font-family: 'Georgia', serif; font-weight: bold; }
h2 {text-align: center}
body { font-family: 'Georgia', serif; font-style: normal}
tt { font-family: 'Courier New', monospace }
div.quote-line { padding: 1em 0; }



dl.quote dt.special { font-weight: bold; }
dl.quote dt.submitter { margin-top: 2em; }
dl.quote dt span.context { font-style: italic; }

table.item-table td
{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

.highlight
{
    background-color: #FADE89;
}

.success
{
    border: 1px solid black;
    background-color: #70FF70;
    color: black;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

.really-strong
{
	color: #FF7F00;
	font-size: 300%;
	border: 2px solid black;
	padding: 2px;
	background-color: #70FF70;
	text-decoration: none;
}

ul.ui-autocomplete
{
	max-height: 20em;
	overflow-y: auto;
}
